.pTag{
    span{
        color:red;
    }
}
.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid red;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}